/BusinessAdministration/.vs
/BusinessAdministration/src/BusinessAdministration.Api/bin
/BusinessAdministration/src/BusinessAdministration.Api/obj
/BusinessAdministration/src/BusinessManagement.BlazorShared/obj
/BusinessAdministration/src/BusinessManagement.Core/obj
/BusinessAdministration/src/BusinessManagement.Infrastructure/obj
/FirstEncounterDDD.SharedKernel/obj
/FirstEncounterDDD.SharedKernel/.vs
/FirstEncounterDDD.SharedKernel/bin
/BusinessAdministration/src/BusinessManagement.BlazorShared/bin
/BusinessAdministration/src/BusinessManagement.BlazorShared/obj
/BusinessAdministration/src/BusinessManagement.Core/bin
/BusinessAdministration/src/BusinessManagement.Core/obj
/BusinessAdministration/src/BusinessManagement.Infrastructure/bin
/BusinessAdministration/src/BusinessManagement.Infrastructure/obj
/BusinessAdministration/src/BusinessManagement.Api/bin
/BusinessAdministration/src/BusinessManagement.Api/obj
/BusinessAdministration/src/BusinessManagement.Blazor.Host/obj
/BusinessAdministration/src/BusinessManagement.Blazor.Host/bin
/BusinessAdministration/src/BusinessManagement.Blazor/bin
/BusinessAdministration/src/BusinessManagement.Blazor/obj
/ReceptionDesk/.vs
/ReceptionDesk/src/BlazorShared/obj
/ReceptionDesk/src/BlazorShared/bin
/ReceptionDesk/src/Client/bin
/ReceptionDesk/src/Client/obj
/ReceptionDesk/src/FrontDesk.Blazor.Host/obj
/ReceptionDesk/src/FrontDesk.Blazor.Host/bin
/ReceptionDesk/src/Server/bin
/ReceptionDesk/src/Server/obj
/ReceptionDesk/src/FrontDesk.Api/obj
/ReceptionDesk/src/FrontDesk.Api/bin
/ReceptionDesk/src/FrontDesk.Core/bin
/ReceptionDesk/src/FrontDesk.Core/obj
/ReceptionDesk/src/FrontDesk.Infrastructure/obj
/ReceptionDesk/src/FrontDesk.Infrastructure/bin
/ReceptionDesk/src/FrontDesk.Blazor/obj
/ReceptionDesk/src/FrontDesk.Blazor/bin
/ReceptionDesk/src/Shared/obj
/ReceptionDesk/src/Shared/bin
/CustomerPublicWebSite/.vs/CustomerPublicWebSite/v17
/CustomerPublicWebSite/src/CustomerPublicWebSite/bin
/CustomerPublicWebSite/src/CustomerPublicWebSite/obj
/CustomerPublicWebSite/src/CustomerPublicWebSite/.vscode
/CustomerPublicWebSite/src/CustomerPublicWebSite/.vs
/CustomerPublicWebSite/.vs
/.vscode
/.history
/ReceptionDesk/src/FrontDesk.Infrastructure/Data/Migrations
/BusinessAdministration/src/BusinessManagement.Infrastructure/Data/Migrations
/Delete-BIN-OBJ-FoldersV3.bat
